certifi>=2023.07.22
chardet==3.0.4
django == 2.2.25
django-filter==2.4.0
djangorestframework==3.9.1
idna==2.6
Markdown==2.6.11
py-dateutil==2.2
python-dateutil==2.7.3
pytz==2018.4
requests==2.31.0
six==1.11.0
urllib3==1.25.9
